<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="voladroid"
         name="Voladroid"
         point="org.eclipse.core.runtime.applications">
      <application cardinality="*" thread="any">
         <run 
               class="VoladroidApplication">
         </run>
      </application>
   </extension>
   <extension
         id="console"
         name="VoladroidConsole"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any">
         <run
               class="VoladroidConsole">
         </run>
      </application>
   </extension>
   <extension
         id="voldroid_cli_1_0"
         point="org.eclipse.core.runtime.products">
      <product
            application="voladroid.console"
            name="Voladroid Console">
      </product>
   </extension>
   <extension
         id="voladroid_gui_1_0"
         point="org.eclipse.core.runtime.products">
      <product
            application="voladroid.voladroid"
            name="Voladroid">
         <property
               name="appName"
               value="Voladroid">
         </property>
      </product>
   </extension>
   <extension
         id="voladroid_cli_1"
         point="org.eclipse.core.runtime.products">
      <product
            application="voladroid.console"
            name="voladroid-cli">
         <property
               name="appName"
               value="voladroid-cli">
         </property>
      </product>
   </extension>

</plugin>
